$light: #efe9e5;
$accent: #ff00ae;
$dark: #202124;
$buttonActiveColor: #0099ff42;

$titleFont:  'Lacquer', cursive;
$headersFont: 'Nunito Sans', sans-serif;
$mainFont: 'Montserrat', sans-serif;
$numbersFont: 'Gloria Hallelujah', cursive;